.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size:25px;
    padding-top: 10px;
}

.buttonsContainers{
    display: flex;
    padding-bottom: 10px;
    margin: 10px;
}

.input{
    margin-left:9px;
    padding:5px;
    width: 60px;
}